.vscode
.idea
**/__pycache__
.git
.gitignore
.github
.gitattributes
README.md
build
.venv
compresso/webserver/frontend/node_modules
compresso/webserver/frontend/dist
compresso/webserver/frontend/.quasar

dev_environment
config
cache
library
tests
venv
videos
