# Include docs
include README.md
include LICENSE
# Include some images
include logo.png
# Include requirements files
include requirements.txt
include requirements-dev.txt

# Include module files
recursive-include unmanic **
include versioninfo.py

# Exclude compiled files
global-exclude *.py[cod]
global-exclude .DS_Store

# Exclude frontend development files
exclude unmanic/webserver/frontend/.git
prune unmanic/webserver/frontend/.github
prune unmanic/webserver/frontend/.idea
prune unmanic/webserver/frontend/.quasar
prune unmanic/webserver/frontend/dist
prune unmanic/webserver/frontend/node_modules
prune unmanic/webserver/frontend/src-bex
prune unmanic/webserver/frontend/src-capacitor
prune unmanic/webserver/frontend/src-cordova
global-exclude npm-debug.log*
global-exclude yarn-debug.log*
global-exclude yarn-error.log*
global-exclude *.suo
global-exclude *.ntvs*
global-exclude *.njsproj
global-exclude *.sln
# Exclude tests
recursive-exclude tests **
# Exclude virtual env
recursive-exclude venv **

# Remove all frontend compiled assets
prune unmanic/webserver/public
