flake8>=7.1.2
pycodestyle>=2.12.1
pytest>=8.3.5
pytest-cov>=6.0
wheel>=0.45.1
setuptools>=75.8.0
build>=1.2.2.post1
yappi>=1.6.0            # Thread-aware profiler for dev profiling

# API schema exporting
apispec>=6.8.1
apispec_webframeworks>=0.5.2
pyyaml>=6.0.2
