-r requirements.txt

ruff==0.15.7
pytest==9.0.2
pytest-cov==7.0.0
pytest-benchmark==5.2.3
pytest-asyncio==1.3.0
pytest-split==0.11.0
wheel==0.46.3
setuptools==82.0.1
build==1.4.0
yappi==1.7.6            # Thread-aware profiler for dev profiling
mypy==1.20.0            # Gradual type checking

# API schema exporting
apispec==6.10.0
apispec_webframeworks==1.2.0
pyyaml==6.0.3
